{% extends 'base.html' %}
{% block content %}
<h1>"Моё кафе" место, куда ведут</h1>
<a href="{{ url_for('menu') }}">Посмотреть меню</a>
<hr>
<h1>ПОЧЕМУ "МОЁ КАФЕ" - ЭТО МЕСТО</h1>
<span> Товарищи! постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции требуют от нас анализа направлений прогрессивного развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.

Товарищи! консультация с широким активом позволяет оценить значение дальнейших направлений развития. Товарищи! консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации систем массового участия. </span>
<h1>Наши ценности</h1>
<ul>
  <li>Солнечное отопление</li>
  <li>Лунное освещение</li>
  <li>Заочное питание</li>
  <li>Гробовое молчание</li>
</ul>
<h2>Наша кухня</h2>
<span>Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия. </span>
<ul>
  <li>Используем только продукты</li>
  <li>Уважаем всех</li>
  <li>Умеем готовить</li>
  <li>Важно, что кофе помогает при альцгеймере</li>
</ul>
{% endblock %}
