{% extends 'base.html' %}
{% block content %}
<h1>Моё кафе</h1>
<span>Сюда приходят</span>
<a href="{{ url_for('menu') }}">Смотреть меню</a>
<hr>
<span>Вкуснейшие завтраки</span>
<span>Свежее кофе</span>
<span>Уютная атмосфера</span>
<hr>
<span>У нас найдётся что-то</span>
<a href="{{ url_for('menu') }}">Смотреть меню</a>
<h2>Рекомендуем</h2>
<a href="{{ url_for('menu') }}">Всё меню ⟶</a>
<h1>Тут карточка с товаром</h1>
<h1>Почему</h1>
<ul>
  <li>Обед</li>
  <li>Уютненько</li>
  <li>Завтрак</li>
  <li>Кофе помогает при альцгеймере</li>
</ul>
<h1>Посмотрите</h1>
<img src="https://placehold.co/600x400">
{% endblock %}
